/Debug/
/Release/
/RT1060/.settings/
/RT1064/RT1060/Debug
/RT1060/Debug
/RT1064/Debug
/RT1060/script.jlink
/RT1064/script.jlink
/RT1060/RT1060_EasyEVSE_FreeRTOS JLink Debug.launch
/RT1064/RT1060_EasyEVSE_FreeRTOS JLink Debug.launch